<ion-content [scrollY]="false" *ngIf="character">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">VOLVER</ion-button>
      </ion-buttons>
      <ion-title>{{character.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-img [src]="character.image"></ion-img>
      </ion-item>
      <ion-item>
        <ion-label>Especie: {{character.species}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ubicación: {{character.location.name}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>