<ion-header>
  <ion-toolbar>
    <ion-title>Lista de personajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor = "let character of characters" (click)="openModal(character.id)">
      <ion-avatar slot="start">
        <ion-img [src]="character.image"></ion-img>
      </ion-avatar>
      <ion-label>{{character.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
